*,#header {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Georgia", "Times New Roman", "serif";
}

h1,h2,h3 {
  font-family: "Verdana", "Times New Roman", "serif";
  color: Maroon;
}

h1 {
  margin: 5px;
  font-size: 22px;
}

h2 {
  margin-left: 15px;
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  margin: 10px;
  padding-left: 20px;
}
a {
  color: #202020;
}
a:hover {
  color: #3030A0;
}

table,th,td {
  border: 1px solid #000000;
  border-collapse: collapse;
  padding: 3px;
  margin: 15px;
  margin-bottom: 5px;
}

pre {
  display: table;
  background-color: #D8D8D8;
  border-radius: 5px;
  border-left: 3px solid #303030;
  padding: 5px;
  padding-right: 60px;
  margin: 25px;
}

